:root{
	--heade-line-height: 30px;
}

html{
	scroll-behavior: smooth;
}

body, html{
	font-size: 14px;
	font-family: Roboto, Arial, sans-serif;
	margin: 0;
	background-color: #eaeaea;

}

ul{
	padding: 0;
}


::-webkit-scrollbar {
  width: 5px;
  padding: 0px 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.border-rad-1{
	border-radius: 3px;
}

.border-rad-2{
	border-radius: 5px;
}
.border-rad-3{
	border-radius: 10px;
}

.cus-btn{
	cursor: pointer;

}

.bordered-box{
	border: 1px solid #e0e0e0;
}


.pop-menu{
	position: fixed;
	border-radius: 3px;
	border: 1px solid #dee2e6;
	background-color: white;
	display: none;
	box-shadow: 0px 0px 5px -1px gray;
	padding: 10px 0px;
}

/*.pop-menu:before{
	content: "";
	border: solid px white;
	outline: 1px;
	transform: rotate(45deg);
	bottom: 90%;
	position: absolute;
	margin-left: 10px;


}*/

.pop-menu .pop-item{
	font-size: 12px;
	padding: 5px 20px;
	cursor: pointer;
	color: #717984;
}

.pop-menu .pop-item i{
	margin-right: 7px;
}

.pop-menu .pop-item:hover{
	background-color: #7491b3;
	color: white;
	transition: 0.2s;
}

.pop-menu .pop-item div{
	display: inline-block;
}







.header{
	background-color: #4a698e;
	padding: 10px 20px;
	color: #f3f3f3;
}

.header > div{
	
}
.slide-cont{
	display: inline-block;
	margin-right: 20px;
}

.slide-cont > .btn-slide-cont{
	font-size: 17px;
	padding: 3px 7px;
	display: inline-block;
	background-color: ;

}


.slide-cont > .btn-slide-cont:hover{
	/*background-color: #bddbff;*/
	color: #ffffff;
}

.web-name-cont{
	
	display: inline-block;
}

.web-name-cont > .web-name{
	font-weight: bold;
	line-height: var(--heade-line-height);
}


.manual-cont > .manual-btn{
	background-color: #324d6d;
	padding: 7px 10px;
	line-height: var(--heade-line-height);
	color: white;
	text-decoration: none;
}

.manual-cont > .manual-btn:hover{
	background-color:   #7e96b3; 
}

.quick-acc-cont{
	font-size: 13px;
}
.quick-acc-profile{
	margin-left: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

.quick-acc-profile .name{
	line-height: var(--heade-line-height);
	background-color: #324d6d;
	padding: 0px 10px;;
}

.quick-acc-profile .option{
	background-color: #fff;
	position: absolute;
	color: gray;
	z-index: 1;
	margin-left: -10px;
	margin-top: 10px;
	box-shadow: 0px 0px 5px -1px gray;
	padding: 10px 0px;
	display: none;
	font-size: 12px;
}

.quick-acc-profile .option:before{
	content: "";
	bottom: 90%;
	position: absolute;
	border: solid 5px white;
	transform: rotate(45deg);
	background-color: #fff;
	margin-left: 20px;
}

.quick-acc-profile .option .item{
	padding: 5px 20px;
}

.quick-acc-profile .option .item i {
	margin-right: 10px;
}

.quick-acc-profile .option .item:hover{
	background-color: #7491b3;
	color: white;
}

.inner-body{
	display: flex;
	background-color: #eaeaea;
	position: relative;
}



.nav-list-cont{
	background-color: #ffffff;
	display: inline-block;
	color: #4c4c4c;
	width: 215px;  
	white-space: nowrap;
	transition: 0.1s;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 200px;
}

.nav-list-cont.shrink{
	margin-left: -215px;  /*specific wid*/
}

.nav-list-cont .nav-list{
	list-style-type: none;
	padding: 5px 10px;
	padding: 0;
}




.nav-list-cont .nav-list > .nav-item-cont{
	cursor: pointer;
	border-bottom: 1px solid #cccccc;
	font-size: 13px;
	color: #717984;
}

.nav-list-cont .nav-list .nav-item{
	padding: 9px 0px 9px 25px;
	font-weight: bold;
}

.nav-list-cont .nav-list .nav-item.selected + div{
	display: block;
}

.nav-list-cont .nav-list .nav-item:hover{
	background-color: #cddbec;
}

.nav-list-cont .nav-list .nav-item-cont .fas.icos{
	margin-right: 10px;
	font-size: 18px;
	width: 20px;
}

.nav-list-cont .nav-list .nav-item-cont .fa-angle-down{
	margin-right: 25px; 
}



.nav-list-cont .nav-list .nav-name{
	width: 120px;
	display: inline-block;
}
.nav-list-cont .nav-list .sub-nav{
	list-style-type: none;
	display: none;
}

.nav-list-cont .nav-list .sub-nav .sub-nav-item{
	padding: 5px 10px;
	margin-left: 50px;
}

.nav-list-cont .nav-list .sub-nav .sub-nav-item:nth-last-child(1){
	margin-bottom: 10px;
}

.nav-list-cont .nav-list .sub-nav .sub-nav-item:hover{
	background-color: #cddbec;
	border-radius: 3px 0 0 3px;
}

.sub-nav-item.selected:after{
	content: '';
	position: absolute;
	right: 0;
	display: inline-block;
	border: 7px solid transparent;
	border-right-color: #eaeaea;
	margin-top: 3px;
}

.table-container{
	margin: 10px 0px;
}

.table-container table.table-borderless{
	border: none;
}





/*-215 same value as to width*/


/*@media (max-width: 575px) {
	.nav-list-cont{
		position: absolute;
		margin-left: -215px;
		
		height: 100%;
	}
}


@media (min-width: 576px) and (max-width: 767px) {
	.nav-list-cont{
		position: absolute;

		margin-left: -215px;
		height: 100%;
	}
}


@media (min-width: 768px) and (max-width: 991px) {
	.nav-list-cont{
		position: absolute;
		margin-left: -215px;
		
		height: 100%;

	}
}


@media (min-width: 992px) and (max-width: 1199px) {

}	

@media (min-width: 1200px) { 
}
*/



.inner-content{
	padding: 5px;
	padding-right: : 5px;
	font-size: 14px;
	flex: 2;
	color: #616161;
	margin-left: 200px;
}



.header-content{
	padding: 10px;
	background-color: white;
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between;
}
.header-content .header-tag{
	font-weight: bold;
	font-size: 14px;
	display: flex;
	padding-left: 5px;
	color: gray;
}



.header-content .dir{
	font-size: 12px;
	display: flex;
}
.searchbar{

}

.sub-inner-content{
	padding: 15px;
	background-color: white;
	margin-bottom: 5px;
}


table{
	border :1px solid #dee2e6;
}

tr{
	cursor: pointer;
}

.table-nav-top{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 5px;
}

.table-nav-top .search-box{
	border: 1px solid #cccfd2;
	display: flex;
}

.table-nav-top .search-box select{
	height: 100%;
	background-color: transparent;
	border: transparent;
}

.table-nav-top .search-container{
	display: flex;
}

.table-nav-top .search-box .search-research{
	border: none;
	width: 200px;
	padding: 0px 5px;
	margin: 3px;
	font-size: 12px;
}

.table-nav-top .search-box .search-research:focus{
	outline: none;
}

.search-box input:focus-within .searchbox{
	background-color: gray;
}


.table-nav-top .search-box i{
	padding: 7px;
	cursor: pointer;
	font-size: 16px;
	background-color:  #74b3aa;
	color: white
}

.table-nav-top .search-container .adv-search-container{
	font-size: 12px;
	padding: 7px;
	background-color: #74b3aa;
	margin-left: 5px;
	color: white;
	cursor: pointer;
}

.table-nav-top .search-container i:hover{
	background-color:  #74b3aa;

}

.table-nav-advance-search{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: gray;
	position: absolute;
	right: 0px;
}
.advance-search-container-row{
	display: flex;
	/*justify-content: space-between;*/
	padding: 5px 0px;
	flex-wrap : wrap;
	margin-bottom: 	20px;
}

.advance-search-container-row .search-inputs{
	color: white;
	background-color: #749fb3;
	border-radius: 3px;
	border: 1px solid #cccfd2;
	display: flex;
	margin-right: 10px;
}

.advance-search-container-row .input-label{
	display: inline-block;
	padding: 3px 7px;
	font-size: 12px;
	width: 90px;
	text-align: center;
}

.advance-search-container-row input[type=text] , .advance-search-container-row select{
	border-radius: 0px 3px 3px 0px;
	padding: 3px 5px;
	border: transparent;
	font-size: 12px;
	outline: none;
	width: 200px;
}



.advance-search-container-row input:focus, .advance-search-container-row select:focus, .advance-search-container-row button:focus{
	box-shadow: 0px 0px 0px 4px #b5dcdc80;
	transition: 0.2s;
}

.advance-search-container-row .checkboxed{
	cursor: pointer;
}

.advance-search-container-row .checkboxed input[type=text]{
	width: 170px;       /* textbox norm width 200px - 20px (checkbox) */
}

.advance-search-container-row .checkboxed input[type=checkbox]{
	display: none;
}

.advance-search-container-row .checkflag {
	width: 30px;
	text-align: center;
	color: white;
	background-color: white;
	text-shadow: -1px -1px 0 #749fb3, 1px -1px 0 #749fb3, -1px 1px 0 #749fb3, 1px 1px 0 #749fb3;
}


.submit-que button{
    background-color: #324d6d;
    color: white;
    border-radius: 3px;
    border: none;
    font-size: 12px;
    padding: 4px 10px;
    width: 90px;
}


/*--------------------------------------*/


.sub-inner-content table{
	font-size: 14px;
	color: gray;
}

.research-table-list .data-num{
	font-size: 12px;
	padding: 5px;
}

.research-table-list .data-num select{
	color: gray;
	cursor: pointer;
}

.research-table-list .data-num label{
	font-weight: bold;
}

.table-nav-bottom{
	display: flex;
	justify-content: flex-end;
}

.table-nav-bottom .data-navigator{
	display: flex;
	font-size: 11px;
}

.table-nav-bottom .data-navigator div{
	text-align: center;
	width: 25px;
	background-color: #afbccc;
	padding: 5px;
	cursor: pointer;
	color: white;
	font-weight: bold;

	/*
	border-top: solid 1px gray;
	border-bottom: solid 1px gray;*/
}


.table-nav-bottom .data-navigator div:first-child{
	border-radius: 3px 0px 0px 3px;
	background-color: #7491b3;

}

.table-nav-bottom .data-navigator div:last-child{
	border-radius: 0px 3px 3px 0px;
	background-color: #7491b3;
}
.table-nav-bottom .data-navigator div:hover{
	background-color: #4a698e;
}


/* ---------- tooltip  -------------*/


.tooltip-cus {
	position: relative;
	background: #de3c3c;
	text-align: center;
	display: inline;
	padding: 5px 10px;
	border-radius: 3px;
	color: white;
}
.tooltip-cus:after {
	bottom: 100%;
	left: 20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #de3c3c;
	border-width: 5px;
	margin-left: -5px;
}



.pop-up-alert, .pop-up-add-journal, .pop-up-add-presentation, .pop-up-add-fund-source, .pop-up-add-patent{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #59688145;
	top: 0;
	display: none;
	align-items: center;
	justify-content: center;
}

.pop-up-add-journal{
	display: /*flex*/;
}


.pop-container{
	background-color: white;
	vertical-align: center;
	border-radius: 5px;
	padding: 10px;
	color: gray;
	box-shadow: 0px 1px 9px -1px grey;
}


.pop-up-header, .pop-up-body, .pop-up-footer{
	padding: 20px;	
}

.pop-up-header{
	font-weight: bold;
	background-color: green;
	border-radius: 5px 5px 0px 0px;
	background-color: gray;
	color: white;
}

.pop-up-body{
	text-align: justify;
}

.pop-up-body input ,.pop-up-body select, .pop-up-body textarea{
	width: 100%;
	border-radius: 3px;
	border: 1px solid gray;
	padding: 5px 10px;
	margin-bottom: 10px;
}

.pop-up-footer{
	text-align: right;
}

.pop-up-footer input, .pop-up-footer .confirm-button{
	border: 1px solid gray;
	border-radius: 3px;
	padding-right: 5px 10px;
	background-color: gray;
	color:  white;
	padding: 5px 10px;
}


.close-pop-up{
	padding: 0px 5px;
	float: right;
	cursor: pointer;
	border-radius: 3px;
}

.close-pop-up:hover{
	background-color: gray;
	color: white;
}


.add-page:disabled{
	color: #afafaf;
	cursor: not-allowed;
}


.sliding-dialog-box {
	position: fixed;
	left: 20px;
	bottom: -100px;
	background-color: gray;
	border-radius: 3px;
	box-shadow: 0px 1px 10px -1px gray;
	z-index: 10;
	max-width: 300px;
}

.sliding-dialog-box .timer{
	background-color: red;
	height: 3px;	
	border-radius: 0px 0px 3px 3px;
	width: 100%;
}

.sliding-dialog-box .message{
	background-color: gray;
	color: white;
	padding: 20px 20px;
	border-radius: 3px 3px 0px 0px;
	
}